.root {
  .label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #969798;
  }

  .value {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #111111;
  }
}
